
src/ClaimTicketService/bin
src/ClaimTicketService/obj

src/SharedAccessKey/\.vscode/

src/ClaimSubmission/\.vscode/

src/ClaimTicketUpdate/\.vscode/

src/ClaimValidation/\.vscode/

src/\.vscode/
src/.vs/
src/AzCore.Shared/bin/
src/AzCore.Shared/obj/

src/ClaimTicketUpdate\.Unit\.Test/obj/
src/ClaimTicketUpdate\.Unit\.Test/bin/